html {
  background-color: slategray;
}

html, body {
  margin: 0;
  padding: 0;
}

h2 {
  font-family: monospace;
  font-size: large;
  padding: 1em;
  margin: 1em;
  border-radius: 1rem;
  background-color: tomato;
  color: white;
  text-align: center;
}
